

.resizePic {
	width: 150px;
	height: 150px;
	margin-bottom: 18px
}

.myName {
	padding-left: 5%;
}

.rightLinks {
	padding-right: 5%;
}

.navStyle {
	margin-bottom: 45px;
}

.description {
	margin-bottom: 20px;
}

.footerPosition {
	padding-top: 15px;
}







